.head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-inline: 30px;
  height: 30px;
  background-color: black;
  padding-block: 20px;
}
body{
  background-color: blanchedalmond;
}
.logo {
  color: aliceblue;
}
.list {
  color: white;
  list-style: none;
  font-size: 1.5rem;
  gap: 30px;
  display: flex;
  cursor: pointer;
  flex-direction: row;
}
.footer {
  padding-top: 10px;
  border-top: 1px solid black;
}
.center {
  text-align: center;
}
.Services {
  display: flex;
  justify-content: space-around;
  gap:1rem;
}
.Home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95vh;
  background-color: blanchedalmond;
}
.title {
  font-size: 3rem;
  text-decoration: underline;
}
.para {
  font-size: 1.5rem;
}
.btn {
  padding: 20px;
  color: white;
  background-color: black;
  font-size: 1rem;
  border-radius: 5px;
}
.About-us {
  height: 30vh;
  display: flex;
}
.about_img {
  width: 50%;
  height: 35vh;
  background-size: cover;
  background-position: center;
}
.about_h1 {
  color:black;
  font-size: 2.5rem;
  text-align: center;
  text-decoration: underline;
}
.footer center {
  background-color: #080808;
  width: 100%;
  color: white;
  text-align: center;
}
.services
{
  display:flex;
}
.title_ser{
  font-size: 1.8rem;
}
#clients {
  margin-top: 10px;
  margin-bottom: 50px;
}
.client-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
}
.client-container div {
  padding-top: 10px;
  width: 10%;
}
.client-container div img {
  width: 80%;
  height: auto;
}

#clients > h1 {
  font-size: 2.5vw;
  padding-top: 2vw;
  padding-bottom: 2vw;
  text-align: center;
  text-decoration: underline;
}
.service_card i {
  background-color:aquamarine;
  padding: 5%;
  border-radius: 50%;
  color: #ffffff;
}
